<!DOCTYPE HTML >
<html lang="en" ng-app="networkApp">
<head>
	<title>The network</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controller.js"></script>
	<link rel="stylesheet" type="text/css" href="normalize.css" />
	<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
	
	<div id="header">
		<div id="logo">
			<img src="images/logo.png" alt="the network"/>
		</div>	
		<div id="search">
			<form method="get" action="#">
				<input type="search" name="terms" placeholder="Search...."/>
				<input type="submit" value="Go"/>
			</form>
		</div>
	</div>
	
	<div id="page" ng-controller="PostListCtrl">
		<!-- <div ng-view class="view-frame"></div> -->
		<div id="profile-pic" ng-controller="UserCtrl">
			<img src={{users[4].pic}}></img>
			{{users[4].username}}
		</div>
		<ul id="updates">Updates
			<li class="posts" ng-repeat="post in posts" ng-controller="UserCtrl">
				    <img src={{users[post.userId].pic}}></img>
			      <p class="post-content">{{post.content}}</p>
						<ul class="comments">
							<li ng-repeat="comment in post.comments" value="{{post}}">
								<span>{{comment.content}}</span>
							</li>
						</ul>
			</li>
		</ul>
	</div>
	
	<div>
		<p>This is a footer mesage</p>
	</div>
		
</body>
</html>